<tr>
  <td>
    <%= link_to category.name, category_path(category.id) %>
  </td>
  <td>
    <% if category.products.count > 0 %>
      <%= category.products.count %>
    <% else %>
      <%= link_to fa_icon('trash'), [:admin, category], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </td>
</tr>
