<h1>Admin &raquo; Categories</h1>
<table class="table text-center">
    <th class="text-center">Registered Categories:</th>
    <th class="text-center">Actions</th>
  </thead>
  <tbody>
    <%= render @categories %>

  </tbody>
</table>
